<ion-content padding>
<div style="height:35px">
	   <button ion-button (click)="deleteReceipts()" *ngIf="editEnabled">
        SelectAll
      </button>
	  <ion-fab top right style="height:60px">
  <button ion-fab (click)="editAllReceipts()">Edit</button>
  <ion-fab-list side="left">
    <button ion-fab (click)="convertToPdf()">PDF</button>
    <button ion-fab (click)="presentConfirm()">  <ion-icon name="trash"></ion-icon></button>
  </ion-fab-list>
</ion-fab>
</div>
 <ion-list>
  <ion-item *ngFor="let receipt of receipts" (click)="gotoReceiptDetail(receipt.id)">
    <ion-checkbox [(ngModel)]="receipt.enabled" *ngIf="editEnabled"></ion-checkbox>
    <ion-avatar item-start>
      <img [src]="receipt.img" *ngIf="receipt.img">
    </ion-avatar>
    <h2>{{receipt.date}}</h2>
    <p>Total: {{receipt.total}}, {{receipt.cardNumber}}</p>
  </ion-item>
</ion-list>
</ion-content>